<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% @cont=0 %>
  <% @cont+=1 %>

  <h1>Hola <%= @cont %>!</h1>
<body>
</html>
